<div id='map'></div>

<div id="button-wrapper"></div> 

<div id="direction">
	<% if user_signed_in? %>
    <li>
      <a href="/users/sign_out" data-method = "delete" data-toggle="tooltip" data-placement="botton" title="Cerrar Sesion">
        <span class="glyphicon glyphicon-off td"></span>
      </a>
    </li>
  <% else %>
    <li>
      <a href="/users/sign_in" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
        <span class="glyphicon glyphicon-off td"></span>
      </a>
    </li>
  <% end %>
  <div class="table-info text-center">
    <dl>
      <dt></dt>
      <dd>
        <button class="btn-success" id="restart">
        Resetear puntos
        </button> 
      </dd>
    </dl>
  </div>

  <div id="sms">
      
  </div>

  <div id= "distance" class="container-semaforo">
    <div id="box-out">
      <div id="box-inside">
        <button id="continue" class="td" data-toggle="tooltip" data-placement="botton" title="Establecer como Origen">
          <div id="circulo3" class="color3"></div>
        </button>
        <button type="button"  class="btn btn-primary tf" data-toggle="tooltip" data-placement="botton" title="Establecer como Destino">
          <div id="circulo2" class="color2"></div>
        </button>
        <div id="circulo1" class="color1">
      </div>
    </div>
  </div>
</div>