<div id='map'></div>
  <pre id='distance' class='ui-distance'>
  <button id="continue" class="btn btn-primary btn-md btn-block">Establecer como Origen</button>
</pre>

<div id="button-wrapper"></div> 

<div id="direction">
	<% if user_signed_in? %>
    <li>
      <a href="/users/sign_out" data-method = "delete" data-toggle="tooltip" data-placement="botton" title="Cerrar Sesion">
        <span class="glyphicon glyphicon-off td"></span>
      </a>
    </li>
  <% else %>
    <li>
      <a href="/users/sign_in" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
        <span class="glyphicon glyphicon-off td"></span>
      </a>
    </li>
  <% end %>
  <div class="table-info text-center">
    <dl>
      <dt>Distancia en metros</dt>
      <dd>
        <div id ='meters' class='ui-meters'>
        </div> 
      </dd>
    </dl>
    <button class="btn-success" id="restart">
      Resetear puntos
    </button>
  </div>
</div>


<!--

<button type="button" class="btn btn-default btn-lg btn-block" onclick="myFunction()">Establecer como Destino</button>

-->