
<div id='map'></div>
<pre id='distance' class='ui-distance'>
  Click to place a marker
<button onclick="myFunction()">Confirm</button>
</pre>
<div id="button-wrapper"></div> 
<div id="direction">
	
	<% if user_signed_in? %>
  <li>

<a href="/users/sign_out" data-method = "delete" data-toggle="tooltip" data-placement="botton" title="Cerrar Sesion">
  <span class="glyphicon glyphicon-off td">
</span>
</a>
  </li>

<% else %>
  <li>
  <a href="/users/sign_in" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">

  <span class="glyphicon glyphicon-off td">
  <!--<%= link_to('', new_user_session_path)  %>  -->

  </span>

  </a>
  </li>
<% end %>

</div>

