
<nav class="navbar navbar-default">

</nav>


<div class="container">

  <div class="row">

    <div class="col-md-6">
      
      <div class="z10">
        <div class="device">
          <%=image_tag "mapMovil.jpg", :alt => "#" , :title => "#", :class =>"td" %>
          
          <div class="device-details">
            <div class="phone">
            </div>

            <div class="home">
              <div class="home-phone">
              </div>
            </div>

          </div>

        </div>


      </div>





    </div>


    <div class="col-md-6">
      <h1>Obtén la mejor ruta, todos los días,
con la ayuda en tiempo real de otros conductores.</h1>

<p>Waze es la aplicación de tráfico y navegación basada en la comunidad más grande del mundo. Únete a los conductores de tu área que comparten el tráfico e información de ruta en tiempo real ahorrando todos tiempo y dinero en sus desplazamientos diarios.</p>

    </div>

  </div>


</div>

