
@import "bootstrap-sprockets";
@import "bootstrap";
@import "mapbox";
@import "leaflet";





body { 
  margin:0; padding:0; 
}
#map { 
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%;
  
}

#direction {
    z-index: 99;
    background: rgba(0,0,0,.8);
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    position: absolute;
    width: 225px;
}

pre.ui-distance {
  position:absolute;
  bottom:33px;
  right:4px;
  padding:5px 10px;
  color:#fff;
  font-size:11px;
  line-height:18px;
  border-radius:3px;
  background: none;
  border:none;  
  z-index: 999;
  width: 16%;
  padding: 1px;
  }

  
#button-wrapper {
  position:absolute;
  bottom:20px;
  right: 4px;
  z-index: 999;
  padding:5px 10px;
  color:#fff;
  font-size:11px;
  line-height:18px;
  border-radius:3px;
  z-index: 999;
  width: 16%;
  padding: 1px;
  }

span.glyphicon.glyphicon-off.td{

top:13px;
font-size: 25px;
left: 80px;

}

.table-info{
  position: absolute;
  color:#3d3d3d;
  left: 22px;
  top:60px;
  background: #ffffff;
  width: 180px;
  border-radius: 5px;
  padding: 10px;
}


/****devise*/


.container.td{
  background: red;
}

.z10{
  z-index: 10;
}

.device {
    height: auto;
    width: 50%;
  
    border-radius: 24px;
    border-right: 13px solid #F4F4F4;
    border-left: 13px solid #F4F4F4;
    border-top: 60px solid #F4F4F4;
    border-bottom: 70px solid #F4F4F4;
    box-shadow: 0px 0px 0px 4px rgba(55, 79, 89, 0.18);
    position: relative;

}

img.td{
  width: 100%

}

/* device-details-circle*/
.device-details {
    position: absolute;
    top: -33px;
    background: rgba(64, 64, 64, 0.3);
    left: 75px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    /* color: #404040; */
}

/*phone-rectanguler*/
.phone {
    position: absolute;
    width: 86px;
    height: 11px;
    background: rgba(64, 64, 64, 0.3);
    top: 3px;
    left: 25px;
    border-radius: 29px;
}

/*Log in*/
.log{
  margin: 10px 10px -15px 10px; 
}
.log-button{
  letter-spacing: 1px;
}
.log-menu{
  margin-top: 0px;
  margin-bottom: 9px;
}
.log-message{
  margin: 10px 10px 0px 10px;
}